<footer class="bg-primary text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Links Úteis</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Sobre nós</a></li>
            <li><a href="#" class="text-white">Menu</a></li>
            <li><a href="#" class="text-white">Contato</a></li>
            <li><a href="#" class="text-white">Política de Privacidade</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h5>Contato</h5>
          <p>Endereço: Av Paulista, 123, São Paulo</p>
          <p>Telefone: (11) 1234-5678</p>
          <p>Email: emailexemplo.com</p>
        </div>
  
        <div class="col-md-4">
          <h5>Siga-nos</h5>
          <a href="#" class="text-white me-2"><i class="bi bi-facebook">booksbrasil.facebook</i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter">booksbrasiltwiter</i></a>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2025 BooksBrasil. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
